<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsBUEQuPe7sfWO-SFNvkFoK1M_rHV3G2c</string>
	<key>GCM_SENDER_ID</key>
	<string>159665421106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akhilraghav.krypticgram</string>
	<key>PROJECT_ID</key>
	<string>krypticgramswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>krypticgramswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159665421106:ios:94ddd4b5565cd1d797752b</string>
</dict>
</plist>